@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input:focus {
        outline: none;
    }

    .py-1.5 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

    /* 滚动槽 */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.2);
        -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.8);
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
    }

    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
        }
    }

    .small-div {
        position: absolute;
        width: 50px;
        height: 50px;

    }

    .top-left {
        border-radius: 40px 0 0 0;
        border-top: 4px solid rgb(107, 57, 173);
        border-left: 4px solid rgb(107, 57, 173);
        top: -3px;
        left: -3px;
    }

    .top-right {
        border-radius: 0 40px 0 0;
        border-right: 4px solid rgb(107, 57, 173);
        border-top: 4px solid rgb(107, 57, 173);
        top: -3px;
        right: -3px;
    }

    .bottom-left {
        border-radius: 0 0 0 40px;
        border-bottom: 4px solid rgb(107, 57, 173);
        border-left: 4px solid rgb(107, 57, 173);
        bottom: -3px;
        left: -3px;
    }

    .bottom-right {
        border-radius: 0 0 40px 0;
        border-bottom: 4px solid rgb(107, 57, 173);
        border-right: 4px solid rgb(107, 57, 173);
        bottom: -3px;
        right: -3px;
    }

    body {
        color: white;
        font-family: 'Montserrat', sans-serif;
        background: #090317;
    }

    .explore {
        color: white;
        background: linear-gradient(274.33deg, #9955FF 22.31%, #55EBFF 100%);
        box-shadow: 0 2px #00000004;
        transition: .3s;
    }

    .explore::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        box-shadow: 0 0 0 8px #9955ff;
        transition: .3s;
    }

    .explore:hover {
        color: #d2d2d2;
    }

    .explore:active {
        color: #7a7a7a;
    }

    .explore:active::after {
        box-shadow: none;
        opacity: 0.4;
        transition: 0s; /*取消过渡*/
    }

    .default {
        border-width: 1px;
        color: #9955ff;
        border-color: #9955ff;
        box-shadow: 0 2px #00000004;
        transition: .3s;
    }

    .default::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        box-shadow: 0 0 0 8px #9955ff;
        transition: .3s;
    }

    .default:hover {
        color: #b17fff;
        border-color: #b17fff;
    }

    .default:active {
        color: #7634d9;
        border-color: #7634d9;
    }

    .default:active::after {
        box-shadow: none;
        opacity: 0.4;
        transition: 0s; /*取消过渡*/
    }

    .danger {
        border-width: 1px;
        color: #FF4D4F;
        border-color: #FF4D4F;
        box-shadow: 0 2px #00000004;
        transition: .3s;
    }

    .danger::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        box-shadow: 0 0 0 8px #FF4D4F;
        transition: .3s;
    }

    .danger:hover {
        color: #ff7374;
        border-color: #ff7374;
    }

    .danger:active {
        color: #de2224;
        border-color: #de2224;
    }

    .danger:active::after {
        box-shadow: none;
        opacity: 0.4;
        transition: 0s; /*取消过渡*/
    }

    .normal {
        border-width: 1px;
        color: white;
        border-color: #E4E4E4;
        box-shadow: 0 2px #00000004;
        transition: .3s;
    }

    .normal::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        box-shadow: 0 0 0 8px #9955ff;
        transition: .3s;
    }

    .normal:hover {
        color: #b17fff;
        border-color: #b17fff;
    }

    .normal:active {
        color: #7634d9;
        border-color: #7634d9;
    }

    .normal:active::after {
        box-shadow: none;
        opacity: 0.4;
        transition: 0s; /*取消过渡*/
    }

    .warn {
        background-color: #FF4D4F;
        color: white;
        box-shadow: 0 2px #00000004;
        transition: .3s;
    }

    .warn::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        box-shadow: 0 0 0 6px #FF4D4F;
        transition: .3s;
    }

    .warn:hover {
        background-color: #ff7374;
        color: white;
    }

    .warn:active {
        background-color: #de2224;
        color: white;
    }

    .warn:active::after {
        box-shadow: none;
        opacity: 0.4;
        transition: 0s; /*取消过渡*/
    }

    .primary {
        background-color: #9955ff;
        color: white;
        box-shadow: 0 2px #00000004;
        transition: .3s;
    }

    .primary::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        box-shadow: 0 0 0 6px #9955ff;
        transition: .3s;
    }

    .primary:hover {
        background-color: #b17fff;
        color: white;
    }

    .primary:active {
        background-color: #7634d9;
        color: white;
    }

    .primary:active::after {
        box-shadow: none;
        opacity: 0.4;
        transition: 0s; /*取消过渡*/
    }

    .checkRegister a {
        text-decoration: underline;
    }

    .checkRegister a:hover {
        color: #ff6163;
    }

    .checkRegister a:active {
        color: #fc181a;
    }

    .link {
        color: black;
    }

    .link:hover {
        color: rgb(96, 165, 250);
    }

    .link:active {
        color: rgb(37, 99, 235);
    }
}